.head_top {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333333;
}
.head_top * {
  font-size: 12px;
}
.head_top .head_left a:hover,
.head_top .head_right a:hover {
  color: #fff;
}
.head_top .head_left > span,
.head_top .head_right > span {
  margin: 0 0.5em;
  color: #424242;
}
.head_top .head_left {
  float: left;
}
.head_top .head_left .head_code {
  display: inline-block;
  position: relative;
}
.head_top .head_left .head_code .triangle {
  width: 0;
  border: 8px solid black;
  border-color: transparent transparent white transparent;
  position: absolute;
  bottom: 0;
  left: 15px;
  display: none;
}
.head_top .head_left .head_code .code_box {
  display: none;
  position: absolute;
  top: 40px;
  left: -40px;
  width: 90px;
  height: 90px;
  padding: 20px 20px 40px;
  box-shadow: 0 1px 5px #aaa;
}
.head_top .head_left .head_code .code_box img {
  width: 100%;
  display: block;
}
.head_top .head_left .head_code .code_box p {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: black;
}
.head_top .head_right {
  float: right;
}
.head_top .head_right .shopping {
  width: 120px;
  height: 100%;
  display: inline-block;
  text-align: center;
  background-color: #424242;
  margin-left: 25px;
  position: relative;
  cursor: pointer;
}
.head_top .head_right .shopping:hover {
  background-color: #fff;
  color: #ff6700;
}
.head_top .head_right .shopping:hover span,
.head_top .head_right .shopping:hover em {
  color: #ff6700;
}
.head_top .head_right .shopping .shopping_box {
  width: 316px;
  height: 0;
  background-color: black;
  position: absolute;
  left: -196px;
  box-shadow: 0 1px 5px #aaa;
}
.head_top .head_right .shopping .shopping_box_active {
  height: 100px;
}
.head_bot .content {
  position: relative;
}
.head_bot .content .logo {
  position: relative;
  margin-top: 22px;
  float: left;
  width: 55px;
  height: 55px;
  overflow: hidden;
  background-color: #ff6700;
  transition: left 0.2s;
}
.head_bot .content .logo .logo_1,
.head_bot .content .logo .logo_2 {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  transition: left 0.2s;
}
.head_bot .content .logo .logo_1 {
  left: 0;
  background: url(../img/mi-logo.png) no-repeat center;
}
.head_bot .content .logo .logo_2 {
  left: -55px;
  background: url(../img/mi-home.png) no-repeat center;
}
.head_bot .content .logo:hover .logo_1 {
  left: 55px;
}
.head_bot .content .logo:hover .logo_2 {
  left: 0;
}
.head_bot .content .head_menu {
  float: left;
  height: 100px;
  line-height: 100px;
  margin-left: 60px;
  position: relative;
}
.head_bot .content .head_menu > li {
  float: left;
  padding: 0 10px;
}
.head_bot .content .head_menu > li:first-child {
  position: relative;
}
.head_bot .content .head_menu > li:first-child .home-hero-ul {
  padding: 20px 0;
  position: absolute;
  top: 100px;
  left: -115px;
  z-index: 99;
  height: 460px;
  box-sizing: border-box;
  background-color: rgba(105, 101, 101, 0.6);
}
.head_bot .content .head_menu > li:first-child .home-hero-ul .home-hero_li {
  height: 42px;
  line-height: 42px;
  width: 204px;
  padding-left: 30px;
}
.head_bot .content .head_menu > li:first-child .home-hero-ul .home-hero_li:hover {
  background-color: #ff6700;
}
.head_bot .content .head_menu > li:first-child .home-hero-ul li span {
  font-size: 14px;
  color: #fff;
}
.head_bot .content .head_menu > li:first-child .home-hero-ul .s_left {
  position: absolute;
  left: 30px;
}
.head_bot .content .head_menu > li:first-child .home-hero-ul .s_right {
  position: absolute;
  right: 20px;
}
.head_bot .content .head_menu > li:first-child .home-hero-ul .s_right use {
  color: #fff !important;
}
.head_bot .content .head_menu > li:first-child .home-hero-ul li a {
  display: block;
  height: 100%;
  width: 100%;
}
.head_bot .content .head_menu > li:first-child .home-hero-ul li:hover ~ .secsub {
  display: block;
}
.head_bot .content .head_menu > li a {
  font-size: 16px;
  color: black;
}
.head_bot .content .head_menu > li a:hover {
  color: #ff6700;
}
.head_bot .content .form {
  float: right;
  height: 100px;
  line-height: 100px;
  font-size: 0;
  padding-top: 25px;
  box-sizing: border-box;
}
.head_bot .content .form #search,
.head_bot .content .form #btn_search {
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  line-height: 50px;
  float: left;
}
.head_bot .content .form #search {
  width: 245px;
  padding: 0 10px;
  outline: none;
}
.head_bot .content .form #btn_search {
  border-left: none;
  width: 51px;
  outline: none;
}
.head_bot .content .form #btn_search:hover {
  background-color: #ff6700;
  border: none;
  top: 0px;
}
.head_bot .mid_nav_last {
  position: absolute;
  top: 100px;
  height: 0px;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  left: 0px;
  transition: height 0.3s 0.2s;
  border-top: 0;
  border-bottom: 0;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
  /* border-top: 1px solid #e0e0e0; */
  /* border-bottom: 1px solid #e0e0e0; */
}
.head_bot .mid_nav_last:hover {
  height: 230px;
}
.head_bot .mid_nav_last .mid_nav_last_s {
  height: 100%;
  margin: 0 auto;
  /* background-color: greenyellow; */
  /* border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0; */
  box-sizing: border-box;
  display: flex;
}
.head_bot .mid_nav_last .mid_nav_last_s div {
  width: calc(100% / 6);
  height: 100%;
  /* background-color: rosybrown; */
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
.head_bot .mid_nav_last .mid_nav_last_s span {
  display: block;
  margin: 30px 0 20px 0;
  border-right: 1px solid #e0e0e0;
  width: 100%;
  box-sizing: border-box;
}
.head_bot .mid_nav_last_s a p:nth-of-type(1) {
  color: black;
}
.head_bot .mid_nav_last_s a p:nth-of-type(2) {
  margin-top: 10px;
  color: #ff6700;
}
.head_bot .mid_nav_last .mid_nav_last_s .l_s {
  border-right: 0;
}
