@charset 'utf-8';
#top_ad {
  background: url(../img/top_ad.jpg) center;
  background-size: auto 120px;
  width: 100%;
  height: 120px;
}
.head_top {
  height: 40px;
  line-height: 40px;
  background-color: #333333;
}
.head_top * {
  font-size: 12px;
}
.head_top .head_left a:hover,
.head_top .head_right a:hover {
  color: #fff;
}
.head_top .head_left > span,
.head_top .head_right > span {
  margin: 0 0.5em;
  color: #424242;
}
.head_top .head_left {
  float: left;
}
.head_top .head_left .head_code {
  display: inline-block;
  position: relative;
}
.head_top .head_left .head_code .code_box {
  position: absolute;
  top: 40px;
  width: 90px;
  height: 90px;
}
.head_top .head_left .head_code .code_box img {
  width: 100%;
}
.head_top .head_right {
  float: right;
}
.head_top .head_right .shopping {
  width: 120px;
  height: 100%;
  display: inline-block;
  text-align: center;
  background-color: #424242;
  margin-left: 25px;
  position: relative;
}
.head_top .head_right .shopping:hover {
  background-color: #fff;
  color: #ff6700;
}
.head_top .head_right .shopping:hover span,
.head_top .head_right .shopping:hover em {
  color: #ff6700;
}
.head_top .head_right .shopping .shopping_box {
  width: 316px;
  height: 0;
  background-color: black;
  position: absolute;
  left: -196px;
  box-shadow: 0px 3px 10px #888888;
}
.head_top .head_right .shopping .shopping_box_active {
  height: 100px;
}
