* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.login_content {
  width: 1130px;
  margin: 0 auto;
}
.login_header {
  height: 98px;
  font-size: 0;
}
.login_main {
  background: url(../img/login_bk.jpg) no-repeat top center;
  height: 588px;
  position: relative;
  min-width: 1130px;
}
.login_main .login_box {
  width: 410px;
  height: 556px;
  margin-left: 720px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
}
.login_main .login_box .nav-tabs {
  height: 31px;
  line-height: 31px;
  padding: 27px 0 24px;
  font-size: 24px;
  text-align: center;
}
.login_main .login_box .nav-tabs a {
  color: #666;
  text-decoration: none;
}
.login_main .login_box .nav-tabs a:nth-of-type(1) {
  color: #ff6700;
}
.login_main .login_box .nav-tabs a:hover {
  color: #ff6700;
}
.login_main .login_box .nav-tabs span {
  margin: 0 42px;
  font-size: 26px;
  color: #e0e0e0;
}
.login_main .login_box .login_area {
  text-align: center;
  padding: 0 31px;
}
.login_main .login_box .login_area input {
  width: 100%;
  height: 50px;
  padding: 13px 16px 13px 14px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  outline: none;
  margin-bottom: 14px;
}
.login_main .login_box .login_area .login_alarm {
  display: none;
  color: #ff6700;
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}
.login_main .login_box .login_area .login_alarm svg {
  font-size: 18px;
  vertical-align: middle;
}
.login_main .login_box .login_area .login_btn_box {
  padding-top: 10px;
}
.login_main .login_box .login_area .login_btn_box .login_btn {
  cursor: pointer;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #ff6700;
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
}
.login_main .login_box .login_area .login_switch {
  margin-bottom: 30px;
}
.login_main .login_box .login_area .login_switch a {
  font-size: 14px;
  color: #ff6700;
}
.login_main .login_box .login_area .reg_forget {
  font-size: 14px;
}
.login_main .login_box .login_area .reg_forget a {
  color: #999;
}
.login_main .login_box .login_area .reg_forget a:hover {
  color: #ff6700;
}
.login_main .login_box .login_area .reg_forget span {
  margin: 0 5px;
  color: #999;
}
.login_main .login_box .login_area .third_party {
  margin-top: 135px;
}
.login_main .login_box .login_area .third_party a {
  margin: 0 15px;
  font-size: 30px;
}
.login_footer {
  padding-top: 100px;
  text-align: center;
  font-size: 14px;
}
.login_footer p span,
.login_footer p a {
  color: #757575;
}
.login_footer p:nth-of-type(1) a:nth-of-type(1) {
  color: #333;
}
.login_footer p:nth-of-type(1) a:hover {
  color: #333;
}
.login_footer p:nth-of-type(1) span {
  margin: 0 10px;
}
.login_footer p:nth-of-type(2) {
  padding: 10px 0;
}
