* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #b0b0b0;
}
a {
  text-decoration: none;
}
em,
i {
  font-style: normal;
}
ul {
  list-style-type: none;
}
html,
body {
  min-width: 1226px;
}
.content {
  width: 1226px;
  margin: 0 auto;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
